<main class="flex flex-col gap-8 px-6 pb-24">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2112.8980594518434!2d3.9127293575418896!3d43.61676473888918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a585a9083373%3A0xaee98960437b8f02!2s185%20Cr%20Messier%2C%2034000%20Montpellier!5e1!3m2!1sfr!2sfr!4v1738598420647!5m2!1sfr!2sfr"
    allowfullscreen=""
    loading="lazy"
    height="600"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <section class="px-20 flex">
    <p-card header="Formulaire de contact" class="w-2/5 ml-auto -mt-32">
      <form
        [formGroup]="contactForm"
        (submit)="sendEmail($event)"
        class="flex flex-col gap-4 pt-4"
      >
        <div class="flex flew-row gap-4">
          <!-- Name -->
          <p-floatlabel variant="on" class="grow-4">
            <input
              pInputText
              id="name"
              formControlName="name"
              autocomplete="on"
              ngClass="{'ng-invalid ng-dirty': contactForm.get('name')?.invalid}"
              [fluid]="true"
            />
            <label for="name">Nom</label>
          </p-floatlabel>
          <!-- FirstName -->
          <p-floatlabel variant="on">
            <input
              pInputText
              id="firstName"
              formControlName="firstName"
              autocomplete="on"
              ngClass="{'ng-invalid ng-dirty': contactForm.get('firstName')?.invalid}"
              [fluid]="true"
            />
            <label for="firstName">Prénom</label>
          </p-floatlabel>
        </div>
        <div class="flex flew-row gap-4">
          <!-- email -->
          <p-floatlabel variant="on">
            <input
              pInputText
              id="email"
              formControlName="email"
              ngClass="{'ng-invalid ng-dirty': contactForm.get('email')?.invalid}"
              autocomplete="on"
              [fluid]="true"
            />
            <label for="email">Email</label>
          </p-floatlabel>
          <!-- Phone -->
          <p-floatlabel variant="on">
            <input
              pInputText
              id="phone"
              formControlName="phone"
              ngClass="{'ng-invalid ng-dirty': contactForm.get('phone')?.invalid}"
              autocomplete="on"
              [fluid]="true"
            />
            <label for="phone">Téléphone</label>
          </p-floatlabel>
        </div>
        <!-- Subject -->
        <p-floatlabel variant="on">
          <input
            pInputText
            id="subject"
            formControlName="subject"
            ngClass="{'ng-invalid ng-dirty': contactForm.get('subject')?.invalid}"
            autocomplete="off"
            [fluid]="true"
          />
          <label for="subject">Sujet</label>
        </p-floatlabel>
        <!-- message -->
        <p-floatlabel variant="on" class="flex flex-col">
          <textarea
            pTextarea
            id="message"
            ngClass="{'ng-invalid ng-dirty': contactForm.get('message')?.invalid}"
            formControlName="message"
            rows="5"
            cols="30"
            [autoResize]="true"
            aria-describedby="message-help"
          ></textarea>
          <label for="message">Message</label>
          <small id="message-help"
            >Longueur du message: {{contactForm.get('message')?.value?.length}}
            / 500
          </small>
        </p-floatlabel>
        <p-button type="submit" label="Envoyer" />
      </form>
    </p-card>
  </section>
</main>
<p-toast position="bottom-right"></p-toast>
