<section class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <h1 class="font-bold font-bold text-6xl mb-4 text-center text-primary">
    Nos Tarifs
  </h1>
  <h2 class="font-semibold text-xl mb-6 text-center line-height-3">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam
    eligendi quos.
  </h2>
  <div
    class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 flex-wrap gap-5 place-items-center"
  >
    <p-card class="max-w-sm">
      <ng-template #header>
        <img
          alt="Card"
          class="w-full"
          ngSrc="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          width="363"
          height="193"
        />
      </ng-template>
      <ng-template #title> Type 1 </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
      <div class="flex flex-row gap-2">
        <p-card class="flex-auto text-center" header="1H"> XXX€ </p-card>
        <p-card class="flex-auto text-center" header="1H30"> XXX€ </p-card>
      </div>
    </p-card>

    <p-card class="max-w-sm">
      <ng-template #header>
        <img
          alt="Card"
          class="w-full"
          ngSrc="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          width="363"
          height="193"
        />
      </ng-template>
      <ng-template #title> Type 1 </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
      <div class="flex flex-row gap-2">
        <p-card class="flex-auto text-center" header="1H"> XXX€ </p-card>
        <p-card class="flex-auto text-center" header="1H30"> XXX€ </p-card>
      </div>
    </p-card>
    <p-card class="max-w-sm">
      <ng-template #header>
        <img
          alt="Card"
          class="w-full"
          ngSrc="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          width="363"
          height="193"
        />
      </ng-template>
      <ng-template #title> Type 1 </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
      <div class="flex flex-row gap-2">
        <p-card class="flex-auto text-center" header="1H"> XXX€ </p-card>
        <p-card class="flex-auto text-center" header="1H30"> XXX€ </p-card>
      </div>
    </p-card>

    <p-card class="max-w-sm">
      <ng-template #header>
        <img
          alt="Card"
          class="w-full"
          ngSrc="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          width="363"
          height="193"
        />
      </ng-template>
      <ng-template #title> Type 1 </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
      <div class="flex flex-row gap-2">
        <p-card class="flex-auto text-center" header="1H"> XXX€ </p-card>
        <p-card class="flex-auto text-center" header="1H30"> XXX€ </p-card>
      </div>
    </p-card>
  </div>
</section>
