<section class="flex flex-col md:flex-row surface-section gap-4">
  <div class="flex-auto text-center md:text-left flex items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Create the screens</span>
      <div class="text-6xl text-primary font-bold mb-3">
        your visitors deserve to see
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <p-button
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></p-button>
      <p-button
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"
      ></p-button>
    </section>
  </div>
  <div class="flex-auto overflow-hidden">
    <img
      ngSrc="image.png"
      alt="Image"
      class="md:ml-auto block md:h-auto"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
      priority
      width="716"
      height="630"
      sizes="50vw"
    />
  </div>
</section>
