<section class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="flex items-center place-content-center gap-2 px-4 py-4 text-xl">
    <i class="fas fa-lg fa-poo text-primary"></i>
    <p class="uppercase">Comment ça fonctionne</p>
  </div>
  <h3 class="font-bold text-6xl mb-4 text-center text-primary pb-10">
    Facile à pratiquer - étape par étape
  </h3>
  <div
    class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 flex-wrap gap-5 place-items-center"
  >
    <p-card class="max-w-sm">
      <ng-template #title>
        <h4 class="text-primary">Etape 1</h4>
      </ng-template>
      <h5 class="text-lg font-medium pb-4">Identifier le problème actuel</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
    </p-card>

    <p-card class="max-w-sm mt-14">
      <ng-template #title>
        <h4 class="text-primary">Etape 2</h4>
      </ng-template>
      <h5 class="text-lg font-medium pb-4">Elaborer un plan d'action</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
    </p-card>
    <p-card class="max-w-sm">
      <ng-template #title>
        <h4 class="text-primary">Etape 3</h4>
      </ng-template>
      <h5 class="text-lg font-medium pb-4">Application du plan</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
    </p-card>

    <p-card class="max-w-sm mt-14">
      <ng-template #title>
        <h4 class="text-primary">Etape 4</h4>
      </ng-template>
      <h5 class="text-lg font-medium pb-4">Analyse efficacité du plan</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt!
      </p>
    </p-card>
  </div>
</section>
